.panel-title {
	font-size: 18px;
	color: inherit
}

.panel-default {
	border-color: #ddd;
	text-align:center;
}

button.list-group-item {
	width: 100%;
	text-align: center;
	border: 1px;
	font-size: 12px;
	padding: 10px 10px;
}

.button-highlight,
.button-highlight-flat {
  border-color: rgb(244, 111, 23);
  color: #FFF; }