* {
	font-family: "HiraginoSansGB-W3";
}

body {
    padding-top: 70px;
}

.description{
    margin:15px 0 20px 0;
    line-height:23px;
    font-size:13pt;
    font-weight: bold;
    color:#666;
}
.search32{
    padding-right:35px;
    background:url('../image/icon/search32.png') no-repeat center right;
}

.navbar-brand {
	padding: 1px 1px;
	margin-right: 50px;
}


.navbar-default {
	 <!-- background-color: rgb(244, 111, 23);-->
}

.navbar-form {
	margin: 0px;
}

.form-control {
	margin-top: 8px;
	font-size: 14px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #ffffff;
	background-color: #f87425;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #ffffff;
	background-color: #f87425;
}

.form-control::-webkit-input-placeholder {
	color: #aeaeae
}

.navbar-default .navbar-toggle {
	border-color: #f87425;
}

.navbar-default .navbar-toggle:hover
	{
	background-color: transparent;
}
	