* {
	font-family: "HiraginoSansGB-W3";
}

body {
    padding-top: 70px;
}

.description{
    margin:15px 0 20px 0;
    line-height:23px;
    font-size:13pt;
    font-weight: bold;
    color:#666;
}
.search32{
    padding-right:35px;
    background:url('../image/icon/search32.png') no-repeat center right;
}

.navbar-brand {
	padding: 1px 1px;
	margin-right: 50px;
}


.navbar-default {
    border-color: rgb(231, 231, 231); background-color: rgb(244, 111, 23);
    font-size: 12pt;
    
}

.navbar-form {
	
	margin: 0px;
	/*margin-left:150px;*/
}

.form-control {
	margin-top: 8px;
	font-size: 14px;
	color: #ffffff;
	border: 1px solid #ffffff;
}

<!-- change navbar font color -->
.navbar-default .navbar-nav>li>a {
	color: rgb(255, 255, 255);
}




	